@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f8;

  font-family: "Nunito", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0px 20px;
}

.sign_up_wrap {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 10px;
}

.sign_up_wrap h3 {
  color: #ff6f00;
  margin-bottom: 20px;
}

.sign_up_wrap input {
  display: block;
  width: 300px;
  margin-bottom: 20px;
  height: 45px;
  outline: none;
  border-radius: 5px;
  border: 1px gray solid;
  padding-left: 10px;
}

.sign_up_wrap button {
  background-color: #ff6f00;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 2px 10px;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
}

.sign_up_wrap .bottom {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.bottom a {
  color: gray;
  margin-left: 10px;
  text-decoration: none;
}
